@import "tailwindcss";

* {
  box-sizing: border-box;
}

@theme {
  --color-*: initial;
  --color-dark: rgb(47, 47, 47);
  --color-light: rgb(250, 250, 250);
  --color-main: rgb(121, 132, 120);
  --color-main-300: rgb(171, 182, 170);
  --color-main-50: rgb(221, 232, 220);
  --color-accent: rgb(183, 93, 105)
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: color-dark; */
  /* background-color: #eae7e7; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  @apply text-dark bg-light;
  @apply flex items-start justify-center;


  min-height: 100vh;

}

a {
  @apply hover:text-accent underline underline-offset-3
}

.button, .button-red  {
  @apply rounded-md bg-main px-3 py-2 text-sm font-semibold text-light shadow-md hover:bg-main-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-main;

  cursor: pointer;
}

.button-red {
  @apply bg-accent focus-visible:outline-accent hover:bg-accent/80
}

.button>* {
  cursor: pointer;
}


.question-long-input{
  @apply flex flex-col gap-1 items-start
}
.question-long-input>textarea {
  @apply rounded-md border-2 border-main bg-light p-2 w-full;
  @apply w-full min-w-100 h-30 max-h-35
}

.small-input {
  @apply flex flex-col gap-1 items-start
}

.small-input>input {
  @apply rounded-md border-2 border-main bg-light p-2;
  @apply h-10
}